* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    margin: 0;
    height: 100vh;


}

.mycontainer {
    margin: 0px auto;
    max-width: 1400px;
    min-width: 350px;
    width: 100ww;

}

li {
    color: white !important;
}

.mynav {
    background-color: black;
    height: 100px !important;
    z-index: 10;
}

.mynav .nav-link {
    color: white !important;
}

.mynavitems {
    color: white;
    /* background-color: #A734BD; */
    font-size: 20px;
}

.mobileimg {
    height: auto;
    display: block;
    max-width: 300px;
    width: 100%;
}


.first-part {
    background-color: black;
    height: auto;
    width: 100vw;
    z-index: 1;
    padding-top: 65px;
    font-size: 20px;
    margin: 0 auto;
}

.first-part h1 {
    color: #A734BD;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;
    font-size: 65px;
}

.first-part p {
    color: lightgray;
    opacity: 0.6;
}

.mobileimgdiv {
    position: relative;
    display: inline-block;
    width: 300px;
    /* adjust as needed */
    max-width: 100%;
}

.circle1 {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    opacity: 0.3;
    z-index: -1;
    background: #FF006A;
    background: radial-gradient(circle, rgba(255, 0, 106, 1) 0%, rgba(183, 43, 174, 1) 39%, rgba(0, 0, 0, 1) 93%);
    box-shadow: 10px 10px 6px #A734BD;
    opacity: 0.2;

}

.icon1 {
    position: absolute;
    top: 20%;
    left: 10%;
}

.icon2 {
    position: absolute;
    top: 50%;
    left: 65%;
}

.icon3 {
    position: absolute;
    top: 15%;
    left: 73%;
}

.myrow1 {
    margin: 0px auto;
}

@media only screen and (max-width:1100px) {
    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 300px;
        /* adjust as needed */
        max-width: 100%;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 70%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 75%;
    }

}

@media only screen and (max-width:990px) {
    .navbar-collapse {
        background-color: #A734BD;
        transition: max-height 0.5s ease;
        box-shadow: 5px 5px 10px #A734BD;
        /* text-align: center; */
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: 6%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 70%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 76%;
    }
}


@media only screen and (max-width: 768px) and (min-width:578px) {

    .circle1 {
        height: 500px;
        width: 500px;
    }

    .first-part {
        background-color: black;
        height: auto;
        width: 100vw;
        padding-top: 10px;
    }

    .mylogo img {
        height: 40px;
    }

    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 300px;
        max-width: 100%;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: -6%;
        height: 15%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 73%;
        height: 15%;
    }
    .icon3 {
        position: absolute;
        top: 15%;
        left: 85%;
    }

}

@media only screen and (max-width: 578px) {
    .circle1 {
        height: 300px;
        width: 300px;
    }

    .first-part {
        background-color: black;
        height: auto;
        width: 100vw;
    }

    .myrow1 {
        font-size: 20px;
        margin: 0 auto;
        padding: 0px;
    }

    .text-part {
        margin: 0 auto;
    }

    .mylogo img {
        height: 40px;
    }

    .mobileimg {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        padding-top: 20px;
    }
    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 300px;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 30%;
        /* left: 0%; */
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 70%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 74%;
    }
}