*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
}
.mynav{
    background-color: black;
    color: aliceblue;
}
.mynavitems{
    color: aliceblue !important;
}