* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    background-attachment: fixed;


}

.mycontainer {
    margin: 0px auto;
    max-width: 1400px;
    min-width: 350px;
    width: 100ww;
    background-color: black;
    background-attachment: fixed;
    height: auto;

}

.hero {
    background-color: black;
    background-attachment: fixed;
}

li {
    color: white !important;
}

.mynav {
    background-color: black;
    height: 100px !important;
    z-index: 10;
}

.mynav .nav-link {
    color: white !important;
}

.mynavitems {
    color: white;
    /* background-color: #A734BD; */
    font-size: 20px;
}

.mobileimg {
    height: auto;
    display: block;
    max-width: 300px;
    width: 100%;
}


.first-part {
    background-color: black;
    height: 900px;
    width: 100vw;
    z-index: 1;
    padding-top: 65px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
}

.first-part h1 {
    color: #A734BD;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;
    font-size: 65px;
}

.first-part p {
    color: lightgray;
    opacity: 0.6;
}

.mobileimgdiv {
    position: relative;
    display: inline-block;
    width: 300px;
    max-width: 100%;
}

.circle1 {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    opacity: 0.1;
    z-index: -1;
    background: #FF006A;
    background: radial-gradient(circle, rgba(255, 0, 106, 1) 0%, rgba(183, 43, 174, 1) 39%, rgba(0, 0, 0, 1) 93%);
    box-shadow: 10px 10px 15px #A734BD;
    opacity: 0.2;

}

.circle2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 60%;
    opacity: 0.1;
    z-index: -1;
    background: #FF006A;
    background: radial-gradient(circle, rgba(255, 0, 106, 1) 0%, rgba(183, 43, 174, 1) 39%, rgba(0, 0, 0, 1) 93%);
    box-shadow: 10px 10px 6px #A734BD;
    opacity: 0.2;

}

.icon1 {
    position: absolute;
    top: 20%;
    left: 15%;
    height: 13%;
}

.icon2 {
    position: absolute;
    top: 50%;
    left: 65%;
    height: 13%;
}

.icon3 {
    position: absolute;
    top: 15%;
    left: 70%;
    height: 13%;
}

.myrow1 {
    margin: 0px auto;
}

.first-part-2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
    border: 1px solid;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #34213480;
    padding-top: 0;
    align-items: center;
    opacity: 0.7;


}

.first-part-2 h1 {
    font-size: 45px;
    margin: 0;
    padding: 10px;
}

.first-part-2 p {
    text-align: center;
}

/* Second part starts here */
.second-part h1 {
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #A734BD;
}

.second-part-1 {
    height: auto;
}

.second-part-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: auto;
    border-radius: 10px;
    margin-top: 30px;


}

.second-part img {
    height: 50px;
}

.second-part-1 div {
    width: 300px;
    text-align: left;
    align-items: center;
    color: #fff;
    border: 1px solid #34213480;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: #34213480;
    opacity: 0.5;
}

.second-part-1 p {
    line-height: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards button {
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 4px;
    padding: 5px 10px;
    color: #fff;
    align-items: center;
    flex-direction: row;
    background-color: #34213480;
}

.c1,
.c2,
.c3 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    width: auto;
    margin: 0 auto;
    margin-top: 60px;
    gap: 60px;

}

.c1 div,
.c2 div,
.c3 div {
    border: none;
    width: 400px;
    align-items: center;
    margin: 0 auto;
    height: auto;


}

.imagediv {
    background-color: #34213480;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

.cards img {
    height: 200px;
}

.cards p {
    color: #fff;
    opacity: 0.5;
    padding-top: 10px;
}



/* last section */

.reviews{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.reviews div{
    height: auto;
    /* margin-top: 40px; */
    margin: 0 auto;
    margin-top: 20px;
}
.reviews h1{
    font-size: 40px;
}
.review-text{
    align-items: center;
    padding-top: 200px;
    font-size: 30px;
    width: 400px;
    margin: 0 auto;
}

.review-cards{
    padding: 0px;
    margin: 0 auto;
    margin: 0;
}
.cards2{
    height: auto;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    background-color: #34213480;
    
}
.cards2 img{
    height: 30px;
    width: 30px;
}
.cards2 p {
    font-size: 17px;
    color: #fff;
    opacity: 0.5;
    padding-top: 5px;
}
.cards2 h5{
    color: #fff;
}

.last-buttons{
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}
.btns{
    /* display: flex; */
}
.last-buttons h1{
    font-size: 40px;
}
.last-buttons button{
    margin: 0 auto;
    text-align: center;
    border: none;
    margin-left: 10px;
    margin-top: 40px;

}
.last-box{
    margin: 0 auto;
    height: auto;
    margin-top: 30px;
    width: 700px;
}
.press{
    text-align: center;
    margin: 0 auto;
}
.last-box img{
    height: 30px;
    width: 100px;
    margin-left: 30px;

}
.imagesofthis{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0 auto;
    padding: 10px;
    background-color: #34213480;
    margin-top: 20px;
    border-radius: 10px;
    opacity: 0.5;
    height: auto;
    flex-wrap: wrap;
    width: auto;

}
.row1oflogo{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}
.one{
    display: flex;
    flex-wrap: wrap;
}
.two{
    display: flex;
    flex-wrap: wrap;
}
.three{
    display: flex;
    flex-wrap: wrap;
}
.four{
    display: flex;
    flex-wrap: wrap;
}
.row2oflogo{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    width: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}
.lastpara{
    padding-top: 20px;
    color: #fff;
    font-size: 10px;
    margin: 0 auto;
}





@media only screen and (max-width:1100px) {
    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 300px;
        max-width: 100%;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 70%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 75%;
    }

    .second-part-1 {
        flex-wrap: wrap;
        width: auto;
        margin: 0 auto;
        justify-content: center;
    }

}

@media only screen and (max-width:990px) {
    .navbar-collapse {
        background-color: #A734BD;
        transition: max-height 0.5s ease;
        box-shadow: 5px 5px 10px #A734BD;
    }

    .circle1 {
        height: 500px;
        width: 500px;
    }

    .circle2 {
        height: 300px;
        width: 300px;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
        margin-top: 10px;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: 6%;
        height: 12%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 70%;
        height: 12%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 76%;
        height: 12%;
    }

    .first-part-2 {
        width: 700px;
    }

    .second-part h1 {
        font-size: 40px;
    }

    .second-part-1 {
        flex-wrap: wrap;
    }

    .c1,
    .c2,
    .c3 {
        display: flex;
        justify-content: space-between;
        margin: 50px;
        width: auto;
        margin: 0 auto;
        margin-top: 60px;
        gap: 20px;

    }

    .c1 div,
    .c2 div,
    .c3 div {
        border: none;
        width: 500px;
        align-items: center;
        margin: 0 auto;
        height: auto;
        font-size: 12px;

    }

    .c1 {
        flex-wrap: wrap;
    }

    .c2 {
        flex-wrap: wrap-reverse;
    }

    .c3 {
        flex-wrap: wrap;
    }
    .reviews{
        flex-wrap: wrap;
    }
    .review-text{
        padding: 0;
        font-size: 20px;
    }
    .cards2{
        width: 500px;
    }

}


@media only screen and (max-width: 768px) and (min-width:578px) {
    body {
        background-attachment: fixed;
    }

    .circle1 {
        height: 500px;
        width: 500px;
    }

    .circle2 {
        height: 300px;
        width: 300px;
        overflow-x: hidden;
        top: 90%;
        z-index: -1;
    }

    .first-part {
        background-color: black;
        height: auto;
        overflow-x: hidden;
        width: 100vw;
        padding-top: 10px;
    }

    .mylogo img {
        height: 40px;
    }

    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 300px;
        max-width: 100%;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
        margin: 10px;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: 5%;
        height: 10%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 78%;
        height: 10%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 85%;
        height: 10%;

    }

    .first-part-2 {
        flex-direction: column;
        width: 60%;
        justify-content: space-between;
    }

    .second-part h1 {
        margin-top: 30px;
    }

    .second-part-1 {
        flex-wrap: wrap;
    }

    .second-part-1 div {
        width: 250px;
    }

    .c1 div,
    .c2 div,
    .c3 div {
        border: none;
        width: 300px;
        align-items: center;
        margin: 0 auto;
        height: auto;

    }

    .c1 {
        flex-wrap: wrap;
    }

    .c2 {
        flex-wrap: wrap-reverse;
    }

    .c3 {
        flex-wrap: wrap;
    }

    .reviews div{
        margin: 0 auto;
        margin-top:20px ;
    }
    .review{
        gap: 10px;
    }
    .last-box{
        width: 570px;
    }
    .last-box img{
        height: 20px;
        width: 80px;
    }

}


@media only screen and (max-width: 578px) {
    .circle1 {
        height: 300px;
        width: 300px;
    }

    .circle2 {
        height: 300px;
        width: 300px;
        overflow-x: hidden;
        left: 10%;
        top: 50%;
        display: none;
    }

    .first-part {
        background-color: black;
        height: auto;
        width: 100vw;
    }

    .myrow1 {
        font-size: 20px;
        margin: 0 auto;
        padding: 0px;
    }

    .text-part {
        margin: 0 auto;
    }

    .mylogo img {
        height: 40px;
    }

    .mobileimg {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        padding-top: 20px;
    }

    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 300px;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 30%;
        height: 10%;
        left: 15%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 73%;
        height: 10%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 72%;
        height: 10%;
    }

    .first-part-2 {
        flex-direction: column;
        width: 300px;
    }

    .second-part h1 {
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
    }

    .second-part-1 div {
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
    }


    .c1 div,
    .c2 div,
    .c3 div {
        border: none;
        width: 320px;
        align-items: center;
        margin: 0 auto;
        height: auto;
        text-align: center;
        font-size: 12px;

    }

    .c1 {
        flex-wrap: wrap;
    }

    .c2 {
        flex-wrap: wrap-reverse;
    }

    .c3 {
        flex-wrap: wrap;
    }
    .review-cards{
        margin: 0 auto;
    }

    .cards2{
    height: 600px;
    width: 400px;
    border-radius: 15px;
    opacity: 0.5;
    background-color: #34213480;
    font-size: 10px;
    
}
.review-text{
    padding: 0;
    margin: 0 auto;
    width: 320px;
    font-size: 15px;
    text-align: center;
}
.reviews div{
        margin: 0 auto;
        margin-top:20px ;
    }
    .reviews{
        gap: 10px;
    }
    .last-buttons h1{
        font-size: 25px;
    }
    .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btns button{
        margin: 0 auto;
        margin-top: 10px;
    }
    .press{
        margin-bottom: 20px;
    }
    .imagesofthis{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin: 0 auto;
        height: 300px;
        width: 250px;
    }
    .last-box{
        width: 250px;
        height: auto;
        height: 400px;
        margin-top: 10px;
    }
    .last-box img{
        height: 20px;
        width: 80px;
        margin-top: 25px;
        padding: 0;
    }
    .row1oflogo{
        /* flex-wrap: wrap */
        flex-direction: column;
        width: 250px;

    }
    .row2oflogo{
        /* flex-wrap: wrap */
        flex-direction: column;
        /* margin-top: 10px; */
        width: 250px;
    }
    .three{
        margin-top: 20px;
    }
    .lastpara{
        display: none;
    }
    .one{
        width: 250px;
    }



}



@media only screen and (max-width:480px) {
    .mobileimgdiv {
        position: relative;
        display: inline-block;
        width: 300px;
        max-width: 100%;
    }

    .mobileimg {
        height: auto;
        display: block;
        max-width: 300px;
        width: 100%;
    }

    .icon1 {
        position: absolute;
        top: 20%;
        left: 7%;
    }

    .icon2 {
        position: absolute;
        top: 50%;
        left: 75%;
    }

    .icon3 {
        position: absolute;
        top: 15%;
        left: 80%;
    }
    .reviews div{
        margin: 0 auto;
        margin-top:20px ;
    }
    .review-cards{
        /* width: 200px; */
        margin: 0;
    }
    .cards2{
        width: 320px;
        margin: 0 auto;
        height: auto;
    }
    .row1oflogo{
        flex-wrap: wrap;
    }
    .row2oflogo{
        flex-wrap: wrap;
    }

}